#gamePlay,
#gameDisplay,
#gameButtons {
    display: flex;
}

#gamePlay {
    flex-direction: column;
}

.choices {
    display: none;
}

#computerScore,
#userScore {
    margin: 0 20px;
    text-align: center;
}